<% layout('layouts/boilerplate') %>
<h1>Grades for <%= term %></h1>
<div class="container-fluid mt-5">
<table class="table table-light">
    <thead>
      <tr>
        <th scope="col">Class ID</th>
        <th scope="col">Class Name</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <% for( let course of courses) { %>
          <tr>
            <th scope="row">
              <a href="/courseInfo/<%= course.number %>/<%= course.term %>"><%= course.number %></a>   
            </th>
            <td>
              <%= course.name %>
            </td>
            <td>
              <%= course.grade %>
            </td>
          </tr>
        
        <% } %>
    </tbody>
  </table>
</div>