<% layout('layouts/boilerplate') %>
<div class="row m-5">
    <div class="col-4 mx-auto">
        <div class="card bg-dark">
            <div class="card-header mx-auto">
                <h2 class="card-title text-light">Edit Profile</h2>
            </div>
            <div class="card-body mx-auto">
                <form action="/profile/<%=user._id%>?_method=PUT" method="post" class="validate-form" novalidate>
                    <div class="mb-2">
                        <label for="s_nameInput" class="form-label text-light">Full Name</label>
                        <input type="text" class="form-control" id="s_nameInput" name="profile[name]" value="<%= user.name%>" 
                            required>
                            <div class="invalid-feedback">
                                Please enter your name.
                            </div>
                            <div class="valid-feedback">
                                Nice!
                            </div> 
                    </div>
                    <div class="mb-2">
                        <label for="s_usernameInput" class="form-label text-light">Username</label>
                        <input type="text" class="form-control" id="s_usernameInput" name="profile[username]" value="<%= user.username%>"
                            required>
                            <div class="invalid-feedback">
                                Please enter a username.
                            </div>
                            <div class="valid-feedback">
                                Nice!
                            </div> 
                    </div>
                    <div class="mb-2">
                        <label for="s_bioInput" class="form-label text-light">Bio</label>
                        <input type="text" class="form-control" id="s_bioInput" name="profile[bio]" value="<%= user.bio%>"
                            >
                    </div>
                    <div class="mb-2">
                        <label for="s_dobInput" class="form-label text-light">Date of Birth</label>
                        <input type="date" class="form-control" id="s_dobInput" name="profile[dob]" value="<%=dob%>" required>
                        <div class="invalid-feedback">
                            Please enter a date of birth.
                        </div>
                        <div class="valid-feedback">
                            Nice!
                        </div> 
                    </div>
                    <div class="mb-2">
                        <label for="s_emailInput" class="form-label text-light">Email address</label>
                        <input type="email" class="form-control" id="s_emailInput"
                            aria-describedby="s_emailHelp" name="profile[email]" value="<%= user.email%>" required>
                            <div class="invalid-feedback">
                                Please enter an email.
                            </div>
                            <div class="valid-feedback">
                                Nice!
                            </div> 
                    </div>
                    <!--
                    <div class="mb-4">
                        <label for="s_passwordInput" class="form-label text-dark">Password</label>
                        <input type="password" class="form-control" id="s_passwordInput"
                            aria-describedby="s_passwordHelp" name="profile[password]" value="<%= user.password%>" minlength="8" maxlength="25" required>
                        <div id="s_passwordHelp" class="form-text">Password Format</div>
                    </div> -->
                    <hr>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>