<% layout('layouts/boilerplate') %>
<h1>Profile</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title text-dark"><strong><%= user.name %></strong></h5>
      <h6 class="card-subtitle mb-2 text-muted">@<%= user.username %></h6>
      <p class="card-text text-dark"><%= user.bio %></p>
      <p class="card-text text-muted">Born <%= birthMonth %> <%= user.dob.getDate()+1 %>, <%= user.dob.getFullYear() %></p>
      <p class="card-text text-muted">Joined <%= joinMonth %> <%= user.joinDate.getFullYear() %></p>
      <a href="" class="card-link">Edit Profile</a>
    </div>
</div>