<% layout('layouts/boilerplate') %>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
        viewBox="0 0 16 16">
        <symbol id="pen">
            <path
                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
        </symbol>
        <symbol id="heart-filled">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
        </symbol>
        <symbol id="heart-empty">
            <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
        </symbol>
        <symbol id="trashcan">
            <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
        </symbol>
        <symbol id="balloon">
            <path fill-rule="evenodd"
                d="M8.48 10.901C11.211 10.227 13 7.837 13 5A5 5 0 0 0 3 5c0 2.837 1.789 5.227 4.52 5.901l-.244.487a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.244-.487ZM4.352 3.356a4.004 4.004 0 0 1 3.15-2.325C7.774.997 8 1.224 8 1.5c0 .276-.226.496-.498.542-.95.162-1.749.78-2.173 1.617a.595.595 0 0 1-.52.341c-.346 0-.599-.329-.457-.644Z" />
        </symbol>
        <symbol id="calendar">
            <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z" />
        </symbol>
    </svg>

    <h1>Profile</h1>

    <div class="card mb-2 bg-dark">
        <div class="card-body">
            <h5 class="card-title text-light"><strong>
                    <%= user.name %>
                </strong></h5>
            <h6 class="card-subtitle mb-2 text-muted">@<%= user.username %>
            </h6>
            <p class="card-text text-light">
                <%= user.bio %>
            </p>
            <p class="card-text text-muted">
                <svg class="bi" width="1em" height="1em" style="fill: gray;">
                    <use xlink:href="#balloon" />
                </svg> Born <%= birthMonth %>
                    <%= user.dob.getDate()+1 %>, <%= user.dob.getFullYear() %><br>
                            <svg class="bi" width="1em" height="1em" style="fill: gray;">
                                <use xlink:href="#calendar" />
                            </svg> Joined <%= joinMonth %>
                                <%= user.joinDate.getFullYear() %>
            </p>
            <p class="card-text text-light">Followers X</p>
            <p class="card-text text-light">Following Y</p>
        </div>
        <div class="card-footer">

            <a href="/profile/<%= user._id %>/edit" class="card-link">Edit Profile</a>
            <button class="card-link btn btn-primary">Follow</button>
        </div>
    </div>
    <% for (let tweet of tweets) {%>
        <div class="card mb-3 w-50 offset-3 bg-dark">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <h4 class="card-title text-light">
                            @<%= tweet.author.username %>
                        </h4>
                        <p class="card-text text-light">
                            <%= tweet.content %>
                        </p>
                        <div class="card-footer">
                            <button class="btn btn-primary"><svg class="bi" width="1em" height="1em"
                                    style="fill: white;">
                                    <use xlink:href="#heart-filled" />
                                </svg></button>
                            <button class="btn btn-primary"><svg class="bi" width="1em" height="1em"
                                    style="fill: white;">
                                    <use xlink:href="#trashcan" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>